.tabbed {
  position: relative;
  margin-top: 1rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__item {
    height: 100%;
  }

  &__active {
    background-color: var(--color-accent-dark-2);
    color: var(--color-secondary-light-2);
  }
  &__btn {
    padding: 0.5rem 3rem;
    width: max-content;
  }
  &__content {
    font-size: 1.6rem;
    padding: 2rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    &--active {
      display: block;
    }
  }
}
