@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
div,
span {
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.2rem;
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  @media only screen and (max-width: 1260px) {
    font-size: 50%;
  }
}

/* Set core body defaults */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-image: linear-gradient(
    to top right,
    var(--color-primary-opacity),
    var(--color-primary-light-2)
  );
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
